---
http_interactions:
- request:
    method: post
    uri: https://payments.sandbox.braintree-api.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation ChargeCreditCard($input: ChargeCreditCardInput!)
        {\n  chargeCreditCard(input: $input) {\n    transaction {\n      id\n      status\n    }\n  }\n}\n","variables":{"input":{"paymentMethodId":"fake-valid-visa-nonce","transaction":{"amount":"10.00"}}}}'
    headers:
      Authorization:
      - Basic MDEyMzQ6NTY3ODk=
      Content-Type:
      - application/json
      Braintree-Version:
      - '2019-01-01'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Braintree-Version:
      - '2016-10-07'
    body:
      encoding: UTF-8
      string: '{"data":{"chargeCreditCard":{"transaction":{"id":"dHJhbnNhY3Rpb25fMnAwYzQydmI","status":"SUBMITTED_FOR_SETTLEMENT"}}},"extensions":{"requestId":"5fbb7654-1b05-48bf-bd98-107cbe089b60"}}'
  recorded_at: Wed, 20 Jan 2021 14:45:03 GMT
recorded_with: VCR 6.0.0
