---
http_interactions:
- request:
    method: post
    uri: https://payments.sandbox.braintree-api.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation ChargeVenmoAccount($input: ChargeVenmoAccountInput!)
        {\n  chargeVenmoAccount(input: $input) {\n    transaction {\n      id\n      status\n    }\n  }\n}\n","variables":{"input":{"paymentMethodId":"123","transaction":{"amount":"10.00"}}}}'
    headers:
      Authorization:
      - Basic MDEyMzQ6NTY3ODk=
      Content-Type:
      - application/json
      Braintree-Version:
      - '2019-01-01'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Braintree-Version:
      - '2016-10-07'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Unknown or expired single-use payment method.","locations":[{"line":2,"column":3}],"path":["chargeVenmoAccount"],"extensions":{"errorClass":"VALIDATION","errorType":"user_error","inputPath":["input","paymentMethodId"],"legacyCode":"91565"}}],"data":{"chargeVenmoAccount":null},"extensions":{"requestId":"dd8326b6-17ad-42ec-b98a-a1df2cb50d6b"}}'
  recorded_at: Wed, 20 Jan 2021 14:49:58 GMT
recorded_with: VCR 6.0.0
