<ul>
  <li><a href="/ping">Ping</a></li>
  <li><a href="/clientToken">Client Token</a></li>
  <li><a href="/creditCardToken">Tokenize Credit Card</a></li>
  <li>Pay with:
    <ul>
      <li><a href="/charge/creditcard">Credit Card</a></li>
      <li><a href="/charge/paypal">PayPal</a></li>
      <li><a href="/charge/venmo">Venmo</a></li>
      <li><a href="/charge/local">Local Payment Method</a></li>
    </ul>
  </li>
</ul>

List of transactions:

<ul>
  <% Array(JSON.parse(body).dig("data","search", "transactions", "edges")).each do |transaction| %>
    <li><%= transaction.id %></li>
  <% end %>
</ul>
