---
http_interactions:
- request:
    method: post
    uri: https://payments.sandbox.braintree-api.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation CreateClientToken($input: CreateClientTokenInput)
        {\n  createClientToken(input: $input) {\n    clientToken\n  }\n}\n","variables":{"input":{"clientToken":{"merchantAccountId":"c9xsvrgrw2pw63bj"}}}}'
    headers:
      Authorization:
      - Basic enlxbjQ4dmtiN2hiMnJqeDoxMjM=
      Content-Type:
      - application/json
      Braintree-Version:
      - '2019-01-01'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Braintree-Version:
      - '2016-10-07'
    body:
      encoding: UTF-8
      string: '{"extensions":{"requestId":"ab50b8e8-b434-42a9-b08a-c323a3aa7c52"},"data":null,"errors":[{"message":"Authentication
        credentials are invalid.","extensions":{"errorClass":"AUTHENTICATION","errorType":"developer_error"}}]}'
  recorded_at: Wed, 20 Jan 2021 14:27:37 GMT
recorded_with: VCR 6.0.0
