---
http_interactions:
- request:
    method: post
    uri: https://payments.sandbox.braintree-api.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  ping\n}\n","variables":{"input":{}}}'
    headers:
      Authorization:
      - Basic enlxbjQ4dmtiN2hiMnJqeDoxMjM=
      Content-Type:
      - application/json
      Braintree-Version:
      - '2019-01-01'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Braintree-Version:
      - '2016-10-07'
    body:
      encoding: UTF-8
      string: '{"extensions":{"requestId":"c7f08c23-8cbf-4fd0-b63d-14930acc4d23"},"data":null,"errors":[{"message":"Authentication
        credentials are invalid.","extensions":{"errorClass":"AUTHENTICATION","errorType":"developer_error"}}]}'
  recorded_at: Wed, 20 Jan 2021 14:12:51 GMT
recorded_with: VCR 6.0.0
