---
http_interactions:
- request:
    method: post
    uri: https://payments.sandbox.braintree-api.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  ping\n}\n","variables":{"input":{}}}'
    headers:
      Authorization:
      - Basic MDEyMzQ6NTY3ODk=
      Content-Type:
      - application/json
      Braintree-Version:
      - '2019-01-01'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Braintree-Version:
      - '2016-10-07'
    body:
      encoding: UTF-8
      string: '{"data":{"ping":"pong"},"extensions":{"requestId":"8b4bf181-6e20-49dc-9030-f2fc38ade178"}}'
  recorded_at: Wed, 20 Jan 2021 13:21:07 GMT
recorded_with: VCR 6.0.0
