---
http_interactions:
- request:
    method: post
    uri: https://payments.sandbox.braintree-api.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation ChargePayPalAccount($input: ChargePayPalAccountInput!)
        {\n  chargePayPalAccount(input: $input) {\n    transaction {\n      id\n      status\n    }\n  }\n}\n","variables":{"input":{"paymentMethodId":"fake-paypal-one-time-nonce","transaction":{"amount":"10.00"}}}}'
    headers:
      Authorization:
      - Basic MDEyMzQ6NTY3ODk=
      Content-Type:
      - application/json
      Braintree-Version:
      - '2019-01-01'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Braintree-Version:
      - '2016-10-07'
    body:
      encoding: UTF-8
      string: '{"data":{"chargePayPalAccount":{"transaction":{"id":"dHJhbnNhY3Rpb25fYnJ5bjcxNmI","status":"PROCESSOR_DECLINED"}}},"extensions":{"requestId":"e71b050a-794b-4d72-9bbd-bc88d35cdd3d"}}'
  recorded_at: Wed, 20 Jan 2021 14:47:41 GMT
recorded_with: VCR 6.0.0
