---
http_interactions:
- request:
    method: post
    uri: https://payments.sandbox.braintree-api.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation TokenizeCreditCard($input: TokenizeCreditCardInput!)
        {\n  tokenizeCreditCard(input: $input) {\n    paymentMethod {\n      id\n      legacyId\n      usage\n      createdAt\n    }\n  }\n}\n","variables":{"input":{"creditCard":{"number":"36259600000004","expirationYear":"22","expirationMonth":"11","cvv":"123","cardholderName":"John
        Doe"}}}}'
    headers:
      Authorization:
      - Basic MDEyMzQ6NTY3ODk=
      Content-Type:
      - application/json
      Braintree-Version:
      - '2019-01-01'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Braintree-Version:
      - '2016-10-07'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Credit card type is not accepted by this merchant
        account","locations":[{"line":2,"column":3}],"path":["tokenizeCreditCard"],"extensions":{"errorClass":"VALIDATION","errorType":"user_error","inputPath":["input","creditCard","number"],"legacyCode":"81703"}}],"data":{"tokenizeCreditCard":null},"extensions":{"requestId":"d6bbf881-7c97-49f6-b23b-de32fe6c9543"}}'
  recorded_at: Wed, 20 Jan 2021 14:37:43 GMT
recorded_with: VCR 6.0.0
