---
http_interactions:
- request:
    method: post
    uri: https://payments.sandbox.braintree-api.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation ChargePaymentMethod($input: ChargePaymentMethodInput!)
        {\n  chargePaymentMethod(input: $input) {\n    transaction {\n      id\n      status\n    }\n  }\n}\n","variables":{"input":{"paymentMethodId":"fake-valid-nonce","transaction":{"amount":"10.00"}}}}'
    headers:
      Authorization:
      - Basic MDEyMzQ6NTY3ODk=
      Content-Type:
      - application/json
      Braintree-Version:
      - '2019-01-01'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Braintree-Version:
      - '2016-10-07'
    body:
      encoding: UTF-8
      string: '{"data":{"chargePaymentMethod":{"transaction":{"id":"dHJhbnNhY3Rpb25fODl3cjJmMHM","status":"SUBMITTED_FOR_SETTLEMENT"}}},"extensions":{"requestId":"d86f7b68-afb0-4d1f-8f3d-33b235889393"}}'
  recorded_at: Wed, 20 Jan 2021 14:42:21 GMT
recorded_with: VCR 6.0.0
