---
http_interactions:
- request:
    method: post
    uri: https://payments.sandbox.braintree-api.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query Search($input: TransactionSearchInput!) {\n  search
        {\n    transactions(input: $input) {\n      edges {\n        node {\n          id\n        }\n      }\n      pageInfo
        {\n        startCursor\n        endCursor\n      }\n    }\n  }\n}\n","variables":{"input":{"merchantAccountId":{"is":"c9xsvrgrw2pw63bj"}}}}'
    headers:
      Authorization:
      - Basic enlxbjQ4dmtiN2hiMnJqeDoxMjM=
      Content-Type:
      - application/json
      Braintree-Version:
      - '2019-01-01'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Braintree-Version:
      - '2016-10-07'
    body:
      encoding: UTF-8
      string: '{"extensions":{"requestId":"e4ec59d2-4b21-42f2-9636-b765ca63610d"},"data":null,"errors":[{"message":"Authentication
        credentials are invalid.","extensions":{"errorClass":"AUTHENTICATION","errorType":"developer_error"}}]}'
  recorded_at: Wed, 20 Jan 2021 14:08:36 GMT
recorded_with: VCR 6.0.0
