---
http_interactions:
- request:
    method: post
    uri: https://payments.sandbox.braintree-api.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query Search($input: TransactionSearchInput!) {\n  search
        {\n    transactions(input: $input) {\n      edges {\n        node {\n          id\n        }\n      }\n      pageInfo
        {\n        startCursor\n        endCursor\n      }\n    }\n  }\n}\n","variables":{"input":{"merchantAccountId":{"is":"c9xsvrgrw2pw63bj"}}}}'
    headers:
      Authorization:
      - Basic MDEyMzQ6NTY3ODk=
      Content-Type:
      - application/json
      Braintree-Version:
      - '2019-01-01'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Braintree-Version:
      - '2016-10-07'
    body:
      encoding: UTF-8
      string: '{"data":{"search":{"transactions":{"edges":[],"pageInfo":{"startCursor":null,"endCursor":null}}}},"extensions":{"requestId":"963860bc-1a9c-45e0-83b0-b266ee6d344f"}}'
  recorded_at: Wed, 20 Jan 2021 14:04:56 GMT
recorded_with: VCR 6.0.0
